
You typed stock: {{stock4Curious}}

<h1> {{stock.symbol}}  status report:</h1>
<ul>
<li>ope price: {{stock.open}}</li>
<li>daily high: {{stock.high}}</li>
<li>daily low: {{stock.low}}</li>
<li>volume: {{stock.volume}}</li>
</ul>

